<?xml version="1.0" encoding="UTF-8"?>
<!-- Name: Tp Calculator -->
<widget xmlns       ="http://www.w3.org/ns/widgets"
        xmlns:gap   ="http://phonegap.com/ns/1.0"
        id          ="com.itvarsity.imagegallery"
        versionCode ="10"
        version     ="1.0.0" >

    <name>Calculator APP</name>

    <description>
        A simple calculator application
        </description>
        <author href="http://itvarsity.co.za"
                email="herbbaker29@gmail.com">
                     THAPELO LENONO</author>
</widget>